{% extends 'base.html.twig' %}

{% block title %}{% trans %}Account settings{% endtrans %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const photo_selected_text = "{{ 'A new photo is selected'|trans({}, 'validators') }}";
    </script>
    {{ encore_entry_script_tags('accountSettings') }}
{% endblock %}

{% block main %}
    <main class="mt-16">
        <div class="container mx-auto">
            {# Profile settings #}
            <h2 class="text-3xl font-medium text-gray-400">{% trans %}Profile settings{% endtrans %}:</h2>
            <div class="flex items-center my-6">
                <div id="current_avatar" class="bg-cover w-32 h-32 rounded-full mr-8 min-w-32" style="background-image: url({{ asset(avatar_photo) }})"></div>
                <h3 class="text-4xl max-w-full break-words font-semibold">{{ app.user.name ~ " " ~ app.user.surname }}</h3>
            </div>
            {{ form_start(select_avatar_photo_form, {'attr': {'class': 'inline'}}) }}
                {{ form_widget(select_avatar_photo_form.photo, {'attr': {'class': 'hidden'}}) }}
                {{ form_label(select_avatar_photo_form.photo, 'Select a new photo', {'label_attr': {'class': 'rounded-full bg-gray-500 hover:bg-gray-600 cursor-pointer py-1 w-1/6 inline-block text-xl font-bold text-center text-white'}}) }}

                <button type="submit" id="select_avatar_photo_form_submit" class="hidden ml-6 bg-blue-400 hover:bg-blue-500 py-1 rounded-full text-white font-bold text-xl w-1/6 mx-auto focus:outline-none">{% trans %}Save{% endtrans %}</button>
            {{ form_end(select_avatar_photo_form) }}
            {% if app.user.avatarPhoto %}
                {{ form_start(delete_avatar_photo_form, {'attr': {'class': 'inline'}}) }}
                    <button type="submit" id="select_avatar_photo_form_submit" class="ml-6 bg-red-500 hover:bg-red-600 py-1 rounded-full text-white font-bold text-xl w-1/6 mx-auto focus:outline-none">{% trans %}Delete{% endtrans %}</button>
                {{ form_end(delete_avatar_photo_form) }}
            {% endif %}
            <hr class="my-12">
            {# Invitations #}
            <h2 class="text-3xl font-medium text-gray-400 mb-4">{% trans %}Invitations{% endtrans %}:</h2>
            <div>
                <h3 class="text-2xl font-semibold inline-block">{% trans %}You can invite{% endtrans %} {% trans with {'users': app.user.invitations[0]} %}invite_users{% endtrans %}</h3>
                {% if app.user.invitations[0] > 0 %}
                    {{ form_start(create_invitation_form, {'attr': {'class': 'inline'}}) }}
                        <button type="submit" class="ml-6 bg-blue-400 hover:bg-blue-500 py-1 rounded-full text-white font-bold text-xl focus:outline-none w-1/5 text-center">{% trans %}Create an invitation{% endtrans %}</button>
                    {{ form_end(create_invitation_form) }}
                {% endif %}
            </div>
            {% for flashCode in app.flashes('create_invitation_success_invitation_code') %}
                <div class="px-8 py-4 bg-green-300 mt-8">
                    <p class="text-2xl">{% trans %}You have successfully created a new invitation. Please write down this invitation code, because you will no longer be able to see it{% endtrans %}:</p>
                    <br>
                    <b class="text-2xl font-semibold">{{ flashCode }}</b>
                </div>
            {% endfor %}
            {% if app.user.invitations[1] is not empty %}
                <div class="mt-6">
                    <h3 class="text-2xl font-semibold">{% trans %}Active invitations{% endtrans %} ({{ app.user.invitations[1]|length }}):</h3>
                    <div class="flex">
                        <ul class="mt-2 space-y-3 flex flex-col float-left">
                            {% for i, invitation in user_invitations %}
                                <li class="text-lg font-medium flex justify-between items-center">
                                    <p><span class="font-bold text-xl">#{{ i + 1 }}:</span> {% trans %}Created{% endtrans %} {{ invitation.createdAt|date("d.m.Y H:i") }}</p>
                                    <a href="{{ path('delete_invitation', {invitation_id: invitation.id}) }}" class="bg-red-500 hover:bg-red-600 py-1 px-3 ml-6 text-white rounded-full">{% trans %}Delete{% endtrans %}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if invited_users_photos is not empty %}
                <div class="mt-6">
                    <h3 class="text-2xl font-semibold mt-6">{% trans %}You invited{% endtrans %} {% trans with {'users': invited_users_photos|length} %}invite_users{% endtrans %}:</h3>
                    <div class="grid grid-cols-5 gap-x-4 gap-y-4 mt-4">
                        {% for user in invited_users_photos %} 
                            <a class="flex flex-col items-center" href="{{ path('user_profile', {id: user[1]}) }}">
                                <div class="bg-cover w-32 h-32 rounded-full" style="background-image: url({{ asset(user[0]) }})"></div>
                                <h4 class="text-lg font-bold break-words max-w-full">{{ user[2] }}</h4>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <hr class="my-12">
            {# Language #}
            <h2 class="text-3xl font-medium text-gray-400 inline-block">{% trans %}Language{% endtrans %}:</h2>
            {{ form_start(select_language_form, {'attr': {'class': 'inline'}}) }}
                {{ form_widget(select_language_form.language, {'attr': {'class': 'cursor-pointer ml-6 rounded-full border-blue-400 focus:border-blue-500 focus:ring-0 focus:outline-none'}}) }}
                <button type="submit" class="ml-6 bg-blue-400 hover:bg-blue-500 py-1 rounded-full text-white font-bold text-xl focus:outline-none px-8 text-center">{% trans %}Save{% endtrans %}</button>
            {{ form_end(select_language_form) }}
            <hr class="my-12">
            {# Logout #}
            <h2 class="text-3xl font-medium text-gray-400 inline-block">{% trans %}Logout{% endtrans %}:</h2>
            <a class="ml-6 inline-block bg-red-500 hover:bg-red-600 py-1 px-8 rounded-full text-white font-bold text-xl focus:outline-none text-center" href="{{ path('app_logout') }}">{% trans %}Log out{% endtrans %}</a>
        </div>
    </main>
{% endblock %}
