{% extends 'base.html.twig' %}

{% block title %}{% trans %}Account settings{% endtrans %}{% endblock %}

{% block main %}
    <main class="mt-16">
        <div class="container mx-auto">
            {# Profile settings #}
            <h2 class="text-3xl font-medium text-gray-400">{% trans %}Profile settings{% endtrans %}:</h2>
            <div class="flex items-center space-x-8 my-6">
                <div id="current_avatar" class="bg-cover w-32 h-32 rounded-full" style="background-image: url({{ asset(avatar_photo) }})"></div>
                <h3 class="text-4xl font-semibold">{{ app.user.name ~ " " ~ app.user.surname }}</h3>
            </div>
            {{ form_start(form) }}
                {{ form_widget(form.photo, {'attr': {'class': 'hidden'}}) }}
                {{ form_label(form.photo, 'Select a new photo', {'label_attr': {'class': 'rounded-full bg-gray-500 hover:bg-gray-600 cursor-pointer py-1 w-1/6 inline-block text-xl font-bold text-center text-white'}}) }}

                <button type="submit" id="select_avatar_photo_form_submit" class="hidden ml-6 bg-blue-400 hover:bg-blue-500 py-1 rounded-full text-white font-bold text-xl w-1/6 mx-auto focus:outline-none">{% trans %}Save{% endtrans %}</button>
            {{ form_end(form) }}
            <script>
                const select_avatar = document.getElementById('select_avatar_photo_form_photo');
                const select_avatar_label = document.getElementById('select_avatar_photo_form_photo_label');
                const select_avatar_submit = document.getElementById('select_avatar_photo_form_submit');
                const select_avatar_label_value = document.getElementById('select_avatar_photo_form_photo_label').innerText;
                const current_avatar = document.getElementById('current_avatar');
                
                select_avatar.addEventListener('change', function (e) {
                    let file_chosen = false;
                    if (this.files) {
                        file_chosen = true;
                        if (this.files[0].type.startsWith('image/')){
                            let reader = new FileReader();
                            reader.onload = function (e) {
                                current_avatar.style.backgroundImage = "url(" + e.target.result + ")";
                            }
                            reader.readAsDataURL(this.files[0]);
                        }
                    }

                    if (file_chosen) {
                        select_avatar_label.innerText = "{{ 'A new photo is selected'|trans({}, 'validators') }}";
                        select_avatar_submit.classList.remove('hidden');
                    } else {
                        select_avatar_label.innerText = select_avatar_label_value;
                        select_avatar_submit.classList.add('hidden');
                    }
                });
            </script>
            <hr class="my-12">
            {# Invitations #}
            <h2 class="text-3xl font-medium text-gray-400 mb-4">{% trans %}Invitations{% endtrans %}:</h2>
            <h3 class="text-2xl font-semibold inline-block">{% trans %}You can invite{% endtrans %} {% trans with {'users': app.user.invitations[0]} %}invite_users{% endtrans %}</h3>
            {% if app.user.invitations[0] > 0 %}
                <a class="ml-6 inline-block bg-blue-400 hover:bg-blue-500 py-1 rounded-full text-white font-bold text-xl focus:outline-none w-1/5 text-center" href="{{ path('create_invitation') }}">{% trans %}Create an invitation{% endtrans %}</a>
            {% endif %}
            {% for flashCode in app.flashes('create_invitation_success_invitation_code') %}
                <div class="px-8 py-4 bg-green-300 mt-8">
                    <p class="text-2xl">{% trans %}You have successfully created a new invitation. Please write down this invitation code, because you will no longer be able to see it{% endtrans %}:</p>
                    <br>
                    <b class="text-2xl font-semibold">{{ flashCode }}</b>
                </div>
            {% endfor %}
            {% if app.user.invitations[1] is not empty %}
                {# TODO: declination #}
                <h3 class="text-2xl font-semibold mt-6">{% trans %}Active invitations{% endtrans %} ({{ app.user.invitations[1]|length }}):</h3>
                <ul class="mt-2 space-y-3 flex flex-col float-left">
                    {% for i, invitation in user_invitations %}
                        <li class="text-lg font-medium flex justify-between items-center">
                            <p><span class="font-bold text-xl">#{{ i + 1 }}:</span> {% trans %}Created{% endtrans %} {{ invitation.createdAt|date("d.m.Y H:i") }}</p>
                            <a href="{{ path('delete_invitation', {invitation_id: invitation.id}) }}" class="bg-red-500 hover:bg-red-600 py-1 px-3 ml-6 text-white rounded-full">{% trans %}Delete{% endtrans %}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
{% endblock %}
